@page "/messages"

<PageTitle>Общение</PageTitle>

    <div class="scroll d-flex flex-column pa-6" style="min-width:300px">

        <MudText Align="Align.Left" Typo="Typo.h6" Class="mb-3">Общение</MudText>

        @* Блок div закрывает косяк MudTextField *@
        <div>
            <MudTextField Placeholder="Поиск" T="string" ValueChanged="@(s => OnSearch(s))" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Clearable Class="mb-4" />
        </div>

        <MudSimpleTable Hover Striped Elevation="0">
            <tbody id="ScrollItems" />
        </MudSimpleTable>

    </div>
