@if (CurrentState.Account != null) {
    <MudDialog Style="max-height:900px; width:550px; min-width:300px">
        <TitleContent>
            <div class="d-flex gap-3 align-center">
                <ImageAvatar Account="Recipient" Size="EnumImageSize.s64x64" Class="avatar s45" />
                <MudText Typo="Typo.h6">@Recipient.Name</MudText>
            </div>
        </TitleContent>

        <DialogContent>
            @* Окно с сообщениями *@
            <DivMessagesFrame Account="Recipient" />

            @* Форма отправки сообщения *@
            <div class="d-flex flex-wrap gap-1 justify-end align-center">
                <ImageAvatar Account="CurrentState.Account" Size="EnumImageSize.s64x64" Class="avatar s50" />
                <MudTextField @bind-Value="@text" T="string" Label="Ваше сообщение" Variant="Variant.Outlined" Lines="1" MaxLines="5" AutoGrow MaxLength="1024" Clearable Class="mt-2" />
                <MudFlexBreak />
                <MudButton Disabled="@sending" OnClick="SubmitMessageAsync" Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Send" Size="Size.Small">Отправить</MudButton>
            </div>
        </DialogContent>
    </MudDialog>
}
