<div class="pa-2 mr-12" style="background-color:#e8f7df; border-radius:7px; font-size:14px">
    <div class="d-flex">
        <MudIcon Icon="@Icons.Material.Filled.NotificationsActive" Color="Color.Inherit" Style="font-size:18px; color:#5ca132; margin: 0 3px 2px 1px" />
        <p>@StaticData.NotificationTypes[Message.Type].SenderMessage</p>
    </div>

    <p class="d-flex justify-end" style="color:#90d665; text-align:left; font-size:12px">@Message.CreateDate.ToMyString()</p>
</div>

@code {
    [Parameter, EditorRequired] public MessagesDto Message { get; set; } = null!;
}
