@page "/"

<PageTitle>Главная страница</PageTitle>

@if (Accounts != null)
{
    <div class="d-flex flex-column pa-6 cuttext" style="min-width:300px">
        <MudText Align="Align.Left" Typo="Typo.h6" Class="mb-3">Новые участники</MudText>
        <MudDivider DividerType="DividerType.FullWidth" Light="false" Class="mb-5" />

        <MudGrid Justify="Justify.Center">

            @foreach (var account in Accounts)
            {
                <MudItem xs="12" sm="6" md="4" lg="4">
                    <MudPaper Class="pa-3" Elevation="3">
                        <div class="d-flex flex-column">
                            <div class="d-flex mt-1 mb-4">
                                <div class="flex-grow-1 cuttext">
                                    <div class="d-flex gap-3">
                                        <div><GenderCircleComponent account="account"/></div>
                                        <div class="d-flex flex-column cuttext">
                                            <h3 class="cuttext">@account.Name</h3>
                                            <p class="cuttext">@account.ToRegionString()</p>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Default" Class="pa-0" />
                                </div>
                            </div>
                            <div>
                                <MudImage Fluid="true" Src="@account.ToAvatarUri(EnumImageSize.s450x600)" />
                            </div>
                        </div>
                    </MudPaper>
                </MudItem>
            }

        </MudGrid>
</div>
}

