@page "/"

<PageTitle>Главная страница</PageTitle>

@if (Accounts != null)
{
    <div class="d-flex flex-column pa-6 cuttext" style="min-width:300px">
        <MudText Align="Align.Left" Typo="Typo.h6" Class="mb-3">Новые участники</MudText>
        <MudDivider DividerType="DividerType.FullWidth" Light="false" Class="mb-5" />

        <MudGrid Justify="Justify.Center">

            @foreach (var account in Accounts)
            {
                <OneAccount Account="account" ShowDialogs="ShowDialogs" />
            }

        </MudGrid>
</div>
}

