@page "/users"

<PageTitle>Участники</PageTitle>

<div class="d-flex flex-column infoblock cuttext">
    <MudText Align="Align.Left" Typo="Typo.h6" Class="mb-3 cuttext">Участники</MudText>
    <MudDivider DividerType="DividerType.FullWidth" Light="false" Class="mb-5" />

    @if (Accounts != null) 
    {
        <MudGrid Justify="Justify.Center">
            @foreach (var account in Accounts)
            {
                <Shared.Components.Pages.Index.OneAccount Account="account" ShowDialogs="ShowDialogs" />
            }
        </MudGrid>
    }

</div>
