.scroll {
    overflow-y: scroll;
    overflow-x: auto;
    scrollbar-color: #f2f2f2 transparent;
}

.IsHidden {
    display: none;
}

.cuttext {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pointer {
    cursor: pointer;
}

@media (max-width: 600px) {
    .infoblock {
        min-width: 300px;
        padding: 10px;
    }
}

@media (min-width: 601px) {
    .infoblock {
        min-width: 300px;
        padding: 20px;
    }
}
