.scroll {
    overflow-y: scroll;
    overflow-x: auto;
    scrollbar-color: #f2f2f2 transparent;
}

.IsHidden {
    display: none;
}

.cuttext {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pointer {
    cursor: pointer;
}