<div class="d-flex flex-column" style="height:250px; overflow:auto">
    @* Окно с сообщениями *@
    <div id="ScrollDiscussions" style="overflow:auto" />
</div>


@if (CurrentState.Account != null)
{
    <div class="d-flex flex-wrap gap-1 justify-end align-center">
        <ImageAvatar Account="CurrentState.Account" Size="EnumImageSize.s64x64" Class="avatar s50" />
        <MudTextField @bind-Value="@text" T="string" Label="Ваше сообщение" Variant="Variant.Outlined" Lines="1" MaxLines="5" AutoGrow MaxLength="1024" Clearable Class="mt-2" />
        <MudFlexBreak />
        <MudButton Disabled="@sending" OnClick="SubmitDiscussionAsync" Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Send" Size="Size.Small">Отправить</MudButton>
    </div>
}
