<div id="notificationid_@Notification.Id" class="d-flex pa-2">
    <div class="pa-2 mr-12" style="background-color:#e8f7df; border-radius:7px">
        <MudText Typo="Typo.body2">@Notification.Text</MudText>
        <MudText class="d-flex justify-end" Style="color:#90d665; text-align:left; font-size:12px">@Notification.CreateDate.ToMyString()</MudText>
    </div>
</div>

@code {
    [Parameter, EditorRequired] public NotificationsDto Notification { get; set; } = null!;
}
